body {
    margin: 0;
    background-color: #f5f5f5;
}

.title {
    text-align: center;
    font-size: 48px;
    margin: 0;
    color: white;
    background-color: #72A8E8;
    padding: 20px 0px;
}

.subtitle {
    text-align: center;
    font-size: 22px;
    margin: 0px;
    padding-bottom: 20px;
    background-color: #72A8E8;
    color: white;
}

.navbar {
    
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:#72A8E8;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #1f2a38;
    top: 50px;
    left: 0;
    list-style: none;
    padding: 0;
    width: 220px;
    border-radius: 8px;
}

.dropdown li {
    padding: 15px;
}

.dropdown li:hover {
    background-color: #2f3b4d;
}

.services:hover .dropdown {
    display: block;
}

.content {
    margin: 40px;
    font-size: 22px;
}

.email {
    padding: 5px 10px;
    border-radius: 6px;
   
}
