h1 {
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
     margin-left: 0; 
    font-size: 18px;
    
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

thead th {
    background-color: #eee;
}

tfoot th {
    background-color: #f8f8f8;
}

input, button {
    padding: 6px;
    margin: 5px;
}

input, button {
    padding: 6px;
    margin: 5px;
}
